* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Kufam', cursive;
}

.nav-content {}

.content-box {
    display: grid;
    background-color: white;
    grid-template-rows: repeat(2, 25px);
    box-shadow: 0 0 8px #333333;
}

.content-box h3 {
    position: relative;
    top: .3em;
    font-size: 25px;
    margin: 5px;
}

.content-box span {
    color: rgb(23, 138, 0);
}

.nav-bar a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: .5em;
    left: 8em;
    bottom: 5px;
    text-transform: uppercase;
}

.nav-bar a:hover {
    border-bottom: 2px solid rgb(23, 138, 0);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

.box {
    background-color: white;
    padding: 1px;
    box-shadow: 0 0 10px #333333;
}

.box h2 {
    text-align: center;
}

.box p {
    text-align: justify;
    text-transform: uppercase;
    margin: 1em;
}

.box img {
    width: 100%;
    box-shadow: 0 0 10px #333333;
}

button {
    background: rgba(90, 168, 74, 0.603);
    border: 0;
    padding: 1em 2em;
    position: relative;
    left: 35%;
    margin: 1em;
    cursor: pointer;
}

button:hover {
    border-bottom: 2px solid rgb(23, 138, 0);
}