* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    display: grid;
    background-color: rgb(43, 43, 43);
    grid-template-columns: 1fr 1fr;
    max-width: 1068px;
    justify-items: stretch;
}

.logo img {
    width: 60px;
    padding: .5em;
}

.logo h2 {
    display: inline;
    color: white;
    position: relative;
    bottom: 25px;
    font-size: 2em;
}

.nav-bar .n-bar a {
    text-decoration: none;
    padding: 1em;
    color: white;
    font-size: 1.5em;
    top: 20px;
    position: relative;
}

span {
    color: rgb(204, 10, 10) ;
}

.nav-bar .n-bar a:hover {
    position: relative;
    background-color: rgba(78, 78, 78, 0.445);
    bottom: 5px;
    border-bottom: 2px solid rgb(204, 10, 10);
}

.fondo img {
    width: 25.5em;
    height: 15em;
}

.fondo button {
    position: relative;
    background: rgba(20, 20, 20, 0.795);
    border: 0;
    bottom: 60px;
    left: 40%;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
}

.fondo button:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 20px;
}

.contenedor .caja {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(68, 68, 68, 0.39);
}

.contenedor .caja img {
    border-bottom: 2px solid rgb(204, 10, 10);
    width: 25.6em;
}

.contenedor .caja p {
    display: block;
    text-align: justify;
    padding: 1em;
}

.contenedor .caja button {
    background: rgba(20, 20, 20, 0.795);
    padding: 1em;
    border: 0;
    position: relative;
    margin: 5px;
    left: 37%;
    color: #fff;
    cursor: pointer;
}

.contenedor .caja button:hover {
    border-bottom: 2px solid rgb(204, 10, 10);
}

@media (min-width: 768px) {
    body {
        padding: 0 1em;
    }
}
