* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

.nav-main {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 9px rgba(61, 61, 61, 0.411);
}

.nav-img {
    width: 200px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
    text-transform: uppercase;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-menu-right {
    font-size: 25px;
    margin-right: 10px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 2rem;
    display: none;
}

.imgcase {
    color: #fff;
    width: 100%;
    height: 500px;
    background: url('/pruebas_desarrollo/templates/img/sp-keepest-2020_2.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn-1 {
    color: #fff;
    background: rgba(255, 123, 0, 0.815);
    padding: 5px 5px;
    display: inline-block;
    font-weight: bold;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.623);
}

.imgcase, h2, p {
    background-color: rgba(0, 0, 0, 0.63);
    margin-bottom: 10px;
}

.boxproduct {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 10px 0;
}

.boxproduct .imgbox {
    background-color: #fff;
}

.boxproduct img {
    width: 95%;
    height: 350px;
    transition: 1s;
    cursor: pointer;
}

.boxproduct img:hover {
    transform: scale(1.1);
}

.boxproduct h3 {
    text-align: center;
    background: #eee;
    text-transform: uppercase;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px 0;
    margin-top: 30px;
}

.news img {
    width: 50%;
    height: 60%;
}

.news h2 {
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.news p {
    background-color: #fff;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
}

.news a {
    display: flex;
    width: 50%;
}

.news-color {
    background-color: #fff;
}

@media (max-width: 767px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        transform: translateX(-400px);
        padding: 30px;
        opacity: .9;
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li {
        padding: 15px;
        font-size: 15px;
    }
    .nav-main ul.nav-menu-right {
        margin-right: 80px;
        margin-bottom: 10px;
    }
    .imgcase {
        width: 100%;
        height: 350px;
    }
    .imgcase, h2, p {
        text-align: center;
    }
    .boxproduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .boxproduct .imgbox {
        width: 100%;
        height: 100%;
    }

    .boxproduct img {
        width: 100%;
        height: 90%;
    }

    .news {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
    .news img {
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 767px) {
    
}